
<div class="container_counter">

    <button style="font-size: 50px; color: rgb(255, 255, 255);" (click)="this.Decrecer()" class="btn_change">-1</button>
    <button style="font-size: 50px; color: rgb(255, 255, 255);" class="btn_counter">{{counter}}</button>
    <button style="font-size: 50px; color: rgb(255, 255, 255);" (click)="this.Incrementar()" class="btn_change">+1</button>
  
  </div>
  
  <br>
  
  <div style="text-align:center;">
  
    <button style="font-size: 20px; color: rgb(255, 255, 255);" (click)="this.Resetear_Contador()" class="btn_Reset">Resetear Contador</button>
  
  </div>